.container {
  text-align: center;
}

.grid-box {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 5fr 1fr;
  text-align: left;
}

.box {
  margin: 3px;
  line-height: 25px;
  font-size: larger;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
}

.horizontal-line {
  background-color: orange;
}